<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>RegServlet</servlet-name>
		<display-name>RegServlet</display-name>
		<description></description>
		<servlet-class>servlets.RegServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<display-name>AdminLoginServlet</display-name>
		<description></description>
		<servlet-class>servlets.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLogoutServlet</servlet-name>
		<display-name>AdminLogoutServlet</display-name>
		<description></description>
		<servlet-class>servlets.AdminLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<display-name>UserLoginServlet</display-name>
		<description></description>
		<servlet-class>servlets.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLogoutServlet</servlet-name>
		<display-name>UserLogoutServlet</display-name>
		<description></description>
		<servlet-class>servlets.UserLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddSpecalistServlet</servlet-name>
		<display-name>AddSpecalistServlet</display-name>
		<description></description>
		<servlet-class>servlets.AddSpecalistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddDoctorServlet</servlet-name>
		<display-name>AddDoctorServlet</display-name>
		<description></description>
		<servlet-class>servlets.AddDoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateDoctorServlet</servlet-name>
		<display-name>UpdateDoctorServlet</display-name>
		<description></description>
		<servlet-class>servlets.UpdateDoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteDoctorServlet</servlet-name>
		<display-name>DeleteDoctorServlet</display-name>
		<description></description>
		<servlet-class>servlets.DeleteDoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoctorLoginServlet</servlet-name>
		<display-name>DoctorLoginServlet</display-name>
		<description></description>
		<servlet-class>servlets.DoctorLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoctorLogoutServlet</servlet-name>
		<display-name>DoctorLogoutServlet</display-name>
		<description></description>
		<servlet-class>servlets.DoctorLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppointmentServlet</servlet-name>
		<display-name>AppointmentServlet</display-name>
		<description></description>
		<servlet-class>servlets.AppointmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateStatusServlet</servlet-name>
		<display-name>UpdateStatusServlet</display-name>
		<description></description>
		<servlet-class>servlets.UpdateStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<display-name>ChangePasswordServlet</display-name>
		<description></description>
		<servlet-class>servlets.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoctorChangePasswordServlet</servlet-name>
		<display-name>DoctorChangePasswordServlet</display-name>
		<description></description>
		<servlet-class>servlets.DoctorChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditProfileServlet</servlet-name>
		<display-name>EditProfileServlet</display-name>
		<description></description>
		<servlet-class>servlets.EditProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegServlet</servlet-name>
		<url-pattern>/RegServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogoutServlet</servlet-name>
		<url-pattern>/AdminLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogoutServlet</servlet-name>
		<url-pattern>/UserLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSpecalistServlet</servlet-name>
		<url-pattern>/AddSpecalistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDoctorServlet</servlet-name>
		<url-pattern>/AddDoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateDoctorServlet</servlet-name>
		<url-pattern>/UpdateDoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteDoctorServlet</servlet-name>
		<url-pattern>/DeleteDoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoctorLoginServlet</servlet-name>
		<url-pattern>/DoctorLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoctorLogoutServlet</servlet-name>
		<url-pattern>/DoctorLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppointmentServlet</servlet-name>
		<url-pattern>/AppointmentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStatusServlet</servlet-name>
		<url-pattern>/UpdateStatusServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/ChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoctorChangePasswordServlet</servlet-name>
		<url-pattern>/DoctorChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProfileServlet</servlet-name>
		<url-pattern>/EditProfileServlet</url-pattern>
	</servlet-mapping>  
</web-app>
